---
import {Button} from '../ui/button'
import {PROFILE} from "../../content/profileData";
import {Linkedin, Github, Mail, Youtube, Twitter, Rss, Book, PanelsTopLeft} from 'lucide-react'
import {getAndGroupUniqueTags} from "../../lib/server-utils";

const tagsMap = await getAndGroupUniqueTags();
const skills = PROFILE.skills;
---

<div class="flex h-full w-full animate-appear">
  <div class="flex flex-col justify-center gap-4 md:max-h-[300px]">
    <div class="flex h-full flex-col">
      <!--<h6 class="m-0 text-sm font-light text-gray-500">-->
      <!--  @TechTim42-->
      <!--</h6>-->
      <p class="m-0 text-xl font-light md:text-lg lg:text-xl">
        Hi, I'm
        <b class="font-bold">{PROFILE.firstName}</b>.
      </p>
      <ul class="pt-4">
        {PROFILE.shortIntros.map((intro, index) => (
          <>
            {index === (PROFILE.shortIntros.length / 2)
              //when it is even number, and in the middle add an empty line

              ? <br/>
              :
              <></>
            }
            <li>{intro}</li>
          </>
        ))}
      </ul>
      <br/>
      <p class="m-1 text-base font-light">
        I am a versatile engineering professional with a strong track record of driving efficiency, collaboration, and
        technical excellence. Whether leading teams or contributing as an individual contributor, I focus on
        streamlining processes, optimizing resources, and delivering results. My approach combines technical expertise
        with a commitment to fostering growth, trust, and innovation within teams.
      </p>
      <p class="m-1 text-base font-light">
        With hands-on experience in backend engineering, cloud architecture, and systems design, I bring proficiency
        in Python, Java, Kotlin, and AWS. I thrive on solving complex technical challenges and am passionate about
        mentoring others, shaping strategies, and building sustainable systems that drive impact.
      </p>
      <p class="m-1 text-base font-light">
      Curiosity and growth fuel my work.
      </p>
    </div>
  </div>
  <img
    src={PROFILE.avatarUrl}
    class="pointer-events-none absolute bottom-[-20px] right-[-110px] z-[-1] max-h-[256px] w-auto select-none opacity-50 lg:relative lg:bottom-auto lg:right-auto lg:z-[-1] lg:opacity-100"
    width="100%"
    height="auto"
    alt={`image of ${PROFILE.name}`}
  />
</div>

