---
import {Button} from '../ui/button'
import {PROFILE} from "../../content/profileData";
import {Linkedin, Github, Mail, Youtube, Twitter, Rss, Book, PanelsTopLeft} from 'lucide-react'
import {getAndGroupUniqueTags} from "../../lib/utils";

const tagsMap = await getAndGroupUniqueTags();
const skills = PROFILE.skills;
---

<div class="flex h-full w-full animate-appear">
  <div class="flex flex-col justify-between gap-4 md:max-h-[300px]">
    <div class="flex h-full flex-col">
      <!--<h6 class="m-0 text-sm font-light text-gray-500">-->
      <!--  @TechTim42-->
      <!--</h6>-->
      <p class="m-0 text-xl font-light">
        Hi, I'm
        <b class="font-bold">{PROFILE.firstName}</b>.
      </p>
      <ul class="pt-4">
        {PROFILE.shortIntros.map((intro, index) => (
          <>
            {index === (PROFILE.shortIntros.length / 2)
              //when it is even number, and in the middle add an empty line

              ? <br/>
              :
              <></>
            }
            <li>{intro}</li>
          </>
        ))}
      </ul>
      <br/>
      <p class="m-0 text-sm font-light">
        I am an engineering leader who thrives in environments built on trust, transparency, and collaboration.
        I believe that the success of any technical endeavor stems from the people behind it. As such, I focus on
        creating spaces where teams feel empowered, supported, and valued. My leadership philosophy centers on investing
        in people—mentoring, fostering growth, and building sustainable processes—while balancing technical excellence
        with empathy.
</p>
      <p class="m-0 text-sm font-light">
        Over the years, I’ve developed expertise in backend engineering, cloud architecture, and systems design, with
        hands-on experience in Python, Java, Kotlin, and AWS. While I’ve enjoyed solving complex technical challenges,
        I’m now focusing on guiding teams, shaping technical strategies, and fostering a culture of trust and innovation.
</p> <p class="m-0 text-sm font-light">
        When I’m not leading or building, I’m usually exploring something new. I believe curiosity fuels growth, both
        personally and professionally. Let’s build something extraordinary together, with a focus on people, purpose,
        and progress.
      </p>
      <br/>
      <a href={PROFILE.links.github} aria-label="github profile" target="_blank">
        <Button aria-label="github profile">
          <Github/>
          <span class="sr-only">GitHub Profile</span>
        </Button>
      </a>
      <!--<p class="m-0 text-l font-light">-->
      <!--  At some point, I have used the following in my projects:-->
      <!--</p>-->
      <!--<ul class="pt-4">-->
      <!--  {-->
      <!--    skills.map((skill) => {-->
      <!--      if (tagsMap.has(skill)) {-->
      <!--        return (-->

      <!--          <li>-->
      <!--            <a href=`/tags/${skill}` class=" hover:font-bold">-->
      <!--              {skill}-->
      <!--            </a>-->
      <!--          </li>-->
      <!--        )-->
      <!--      } else {-->
      <!--        return (-->
      <!--          <li>-->
      <!--        <span>-->
      <!--          {skill}-->
      <!--        </span>-->
      <!--          </li>-->
      <!--        )-->
      <!--      }-->

      <!--    })-->
      <!--  }-->
      <!--</ul>-->
    </div>
    <!--<div class="flex gap-10">-->
    <!--  <a href={PROFILE.links.github} aria-label="github profile" target="_blank">-->
    <!--    <Button aria-label="github profile">-->
    <!--      <Github/>-->
    <!--      <span class="sr-only">GitHub Profile</span>-->
    <!--    </Button>-->
    <!--  </a>-->
      <!--{-->
      <!--  PROFILE.links?.bluesky && <a href={PROFILE.links.bluesky} aria-label="bluesky profile" target="_blank">-->
      <!--    <Button>-->
      <!--      <PanelsTopLeft/>-->
      <!--      <span class="sr-only">bluesky profile</span>-->
      <!--    </Button>-->
      <!--  </a>-->
      <!--}-->
      <!--{-->
      <!--  PROFILE.links?.twitter && <a href={PROFILE.links.twitter} aria-label="twitter profile" target="_blank">-->
      <!--    <Button>-->
      <!--      <Twitter/>-->
      <!--      <span class="sr-only">Twitter profile</span>-->
      <!--    </Button>-->
      <!--  </a>-->
      <!--}-->

      <!--{-->
      <!--  PROFILE.links?.goodreads && <a href={PROFILE.links.goodreads} aria-label="goodreads profile" target="_blank">-->
      <!--    <Button>-->
      <!--      <Book/>-->
      <!--      <span class="sr-only">Goodreads</span>-->
      <!--    </Button>-->
      <!--  </a>-->
      <!--}-->
    <!--</div>-->
  </div>
  <img
    src={PROFILE.avatarUrl}
    class="pointer-events-none absolute bottom-[-20px] right-[-110px] z-[-1] max-h-[256px] w-auto select-none opacity-50 md:relative md:bottom-auto md:right-auto md:z-auto md:opacity-100"
    width="100%"
    height="auto"
    alt={`image of ${PROFILE.name}`}
  />
</div>

