---
import BaseLayout from '../layouts/BaseLayout.astro'
import IntroCard from '../components/sections/IntroCard.astro'
import AboutMe from '../components/sections/AboutMe.astro'
import Card from '../components/Card.astro'
import TimeZoneCard from '../components/sections/TimeZoneCard.astro'
import Books from '../components/sections/Books.astro'
import ExperienceCard from '../components/sections/ExperienceCard.astro'
import ChatWidget from '../components/ChatWidget.astro'
import Projects from '../components/sections/Projects.astro'
import { PROFILE } from "../content/profileData";
import BlogCard from '../components/sections/BlogCard.astro'
import Recipe from '../components/sections/Recipe.astro'
import DailyQuote from "../components/sections/DailyQuote.astro";
const SITE = PROFILE.site
---


<BaseLayout
  title={SITE.SEO.title}
  description={SITE.SEO.description}

>
  <div
    slot="loader"
    class="fixed top-0 right-0 bottom-0 left-0 z-50 flex h-screen w-screen items-center justify-center text-3xl font-black uppercase text-neutral-50 loader bg-darkslate-700"
  >
  </div>
  <main
    transition:animate="fade"
    class="relative m-auto grid w-full max-w-6xl gap-2 overflow-hidden p-2 sm:gap-2 sm:p-4 md:grid-cols-2 md:gap-3 md:p-6 lg:grid-cols-12 lg:gap-4"
  >
    <Card colSpan="lg:col-span-9 md:col-span-2" rowSpan="md:row-span-1 lg:row-span-2">
      <IntroCard/>
    </Card>
    <Card colSpan="lg:col-span-3 md:col-span-1" rowSpan="md:row-span-1 lg:row-span-2" title="About me">
      <AboutMe/>
    </Card>

    <Card colSpan="lg:col-span-4 md:col-span-1" rowSpan="md:row-span-1 lg:row-span-1" title="Projects">
      <Projects/>
    </Card>
    <Card colSpan="md:col-span-1 lg:col-span-5" rowSpan="md:row-span-1 lg:row-span-1" title="Blog Posts">
      <BlogCard/>
    </Card>
    <Card colSpan="md:col-span-1 lg:col-span-3" rowSpan="md:row-span-1 lg:row-span-1" title="Experiences">
      <ExperienceCard/>
    </Card>

    <Card colSpan="sm:col-span-1 md:col-span-1 lg:col-span-3" rowSpan="md:row-span-1 lg:row-span-1" title="Get in touch">
      <!--<Recipe/>-->
      <!--<div class="flex h-full w-full items-center justify-center text-center text-lg">-->
      <!--  <i>-->
      <!--   <a href={PROFILE.links.email} class="underline hover:font-bold">Email-->
      <!--  </a>-->
      <!--    <br/>-->
      <!--    <a href={PROFILE.links.linkedin} class="underline hover:font-bold">LinkedIn</a>-->
      <!--    <br/>-->

      <!--  </i>-->
      <!--</div>-->
      <div class="flex m-10 space-x-4 justify-center">
        <a href={PROFILE.links.email} class="flex items-center space-x-2 text-yellow-500 hover:text-yellow-200">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="currentColor" viewBox="0 0 24 24">
            <path d="M2 6.5A2.5 2.5 0 014.5 4h15A2.5 2.5 0 0122 6.5v11a2.5 2.5 0 01-2.5 2.5h-15A2.5 2.5 0 012 17.5v-11zM4.5 6a.5.5 0 00-.5.5v.379l8 5.333 8-5.333V6.5a.5.5 0 00-.5-.5h-15zM21 8.121l-7.684 5.122a1.5 1.5 0 01-1.632 0L4 8.121V17.5a.5.5 0 00.5.5h15a.5.5 0 00.5-.5V8.121z"/>
          </svg>

        </a>
        <a href={PROFILE.links.github}  target="_blank" class="text-orange-500 hover:text-orange-200">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24">
            <path d="M12 .297C5.373.297 0 5.67 0 12.297c0 5.292 3.438 9.8 8.205 11.387.6.112.82-.26.82-.577v-2.234c-3.338.724-4.042-1.416-4.042-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.087-.744.082-.729.082-.729 1.205.084 1.84 1.235 1.84 1.235 1.07 1.835 2.807 1.304 3.495.997.107-.775.42-1.305.764-1.605-2.665-.3-5.467-1.334-5.467-5.93 0-1.31.467-2.38 1.235-3.22-.123-.303-.535-1.52.117-3.176 0 0 1.007-.322 3.3 1.23.957-.266 1.983-.4 3.005-.405 1.02.005 2.048.14 3.005.405 2.29-1.552 3.295-1.23 3.295-1.23.653 1.656.242 2.873.12 3.176.77.84 1.235 1.91 1.235 3.22 0 4.605-2.807 5.625-5.48 5.92.43.37.823 1.1.823 2.22v3.293c0 .32.22.694.825.577C20.565 22.092 24 17.583 24 12.297 24 5.67 18.627.297 12 .297z"/>
          </svg>
        </a>
        <a href={PROFILE.links.linkedin} target="_blank" class="text-blue-600 hover:text-blue-400">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24">
            <path d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.761 0 5-2.239 5-5v-14c0-2.761-2.239-5-5-5zm-11 19h-3v-10h3v10zm-1.5-11.286c-.966 0-1.5-.672-1.5-1.5 0-.828.554-1.5 1.446-1.5.966 0 1.5.672 1.5 1.5 0 .828-.554 1.5-1.446 1.5zm13.5 11.286h-3v-5.357c0-1.281-.473-2.157-1.654-2.157-.901 0-1.436.609-1.672 1.196-.086.21-.108.501-.108.793v5.525h-3v-10h3v1.354c.399-.615 1.112-1.354 2.701-1.354 1.973 0 3.433 1.274 3.433 4.017v5.983z"/>
          </svg>
        </a>
        <a href={PROFILE.links.instagram} target="_blank" class="text-pink-500 hover:text-pink-200">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24">
            <path d="M12 2.163c3.204 0 3.584.012 4.85.07 1.17.054 1.97.24 2.425.403a4.92 4.92 0 011.675 1.09 4.92 4.92 0 011.09 1.675c.163.455.349 1.255.403 2.425.058 1.266.07 1.645.07 4.849s-.012 3.584-.07 4.85c-.054 1.17-.24 1.97-.403 2.425a4.92 4.92 0 01-1.09 1.675 4.92 4.92 0 01-1.675 1.09c-.455.163-1.255.349-2.425.403-1.266.058-1.645.07-4.85.07s-3.584-.012-4.849-.07c-1.17-.054-1.97-.24-2.425-.403a4.92 4.92 0 01-1.675-1.09 4.92 4.92 0 01-1.09-1.675c-.163-.455-.349-1.255-.403-2.425-.058-1.266-.07-1.645-.07-4.85s.012-3.584.07-4.849c.054-1.17.24-1.97.403-2.425a4.92 4.92 0 011.09-1.675 4.92 4.92 0 011.675-1.09c.455-.163 1.255-.349 2.425-.403 1.266-.058 1.645-.07 4.849-.07zm0-2.163C8.735 0 8.332.015 7.052.072 5.772.129 4.73.326 3.875.674a7.075 7.075 0 00-2.57 1.674A7.075 7.075 0 00.674 4.918c-.348.855-.545 1.897-.602 3.177C.015 8.332 0 8.735 0 12c0 3.265.015 3.668.072 4.948.057 1.28.254 2.322.602 3.177a7.075 7.075 0 001.674 2.57 7.075 7.075 0 002.57 1.674c.855.348 1.897.545 3.177.602C8.332 23.985 8.735 24 12 24c3.265 0 3.668-.015 4.948-.072 1.28-.057 2.322-.254 3.177-.602a7.075 7.075 0 002.57-1.674 7.075 7.075 0 001.674-2.57c.348-.855.545-1.897.602-3.177.057-1.28.072-1.683.072-4.948 0-3.265-.015-3.668-.072-4.948-.057-1.28-.254-2.322-.602-3.177a7.075 7.075 0 00-1.674-2.57A7.075 7.075 0 0019.125.674c-.855-.348-1.897-.545-3.177-.602C15.668.015 15.265 0 12 0zm0 5.838a6.162 6.162 0 100 12.324 6.162 6.162 0 000-12.324zm0 2.163a4 4 0 110 8 4 4 0 010-8zm6.406-2.386a1.44 1.44 0 11-2.88 0 1.44 1.44 0 012.88 0z"/>
          </svg>
        </a>
        <a href={PROFILE.links.calendly} target="_blank" class="text-sky-600 hover:text-sky-300">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="currentColor"  viewBox="0 0 24 24">
            <path d="M19.655 14.262q.421.001.828.064c0 .005-.005.01-.005.014a6 6 0 0 1-.381.786l-1.219 2.106a6.24 6.24 0 0 1-5.411 3.127h-2.432a6.25 6.25 0 0 1-5.412-3.127l-1.218-2.106a6.25 6.25 0 0 1 0-6.252l1.218-2.106a6.24 6.24 0 0 1 5.412-3.127h2.432a6.25 6.25 0 0 1 5.411 3.127l1.219 2.106c.147.252.271.519.381.786c0 .004.005.009.005.014a5.5 5.5 0 0 1-.828.064c-1.816 0-2.501-.607-3.291-1.306c-.764-.676-1.711-1.517-3.44-1.517h-1.029c-1.251 0-2.387.455-3.2 1.278c-.796.805-1.233 1.904-1.233 3.099v1.411c0 1.196.437 2.295 1.233 3.099c.813.823 1.949 1.278 3.2 1.278h1.034c1.729 0 2.676-.841 3.439-1.517c.791-.703 1.471-1.306 3.287-1.301m.005-3.237q.6 0 1.179-.11q-.003-.007-.002-.014a6.3 6.3 0 0 0-.349-1.218a4.6 4.6 0 0 0 1.986-.819c0-.004-.005-.013-.005-.018a10.6 10.6 0 0 0-1.489-3.03a10.9 10.9 0 0 0-2.331-2.395a10.64 10.64 0 0 0-6.428-2.138c-1.448 0-2.855.28-4.175.841c-1.273.543-2.423 1.315-3.407 2.299S2.878 6.552 2.341 7.83a10.7 10.7 0 0 0-.842 4.175c0 1.448.281 2.855.842 4.174c.542 1.274 1.314 2.423 2.298 3.407s2.129 1.761 3.407 2.299c1.324.556 2.727.841 4.175.841c2.34 0 4.561-.74 6.428-2.137a10.8 10.8 0 0 0 2.331-2.396a10.8 10.8 0 0 0 1.489-3.03c0-.004.005-.014.005-.018a4.6 4.6 0 0 0-1.986-.819c.161-.395.276-.804.349-1.218c.005-.009.005-.014.005-.023a5.85 5.85 0 0 1 2.404 1.035c.685.505.552 1.075.446 1.416C22.184 20.437 17.619 24 12.221 24c-6.625 0-12-5.375-12-12s5.37-12 12-12c5.398 0 9.963 3.563 11.471 8.464c.106.341.239.915-.446 1.421a5.8 5.8 0 0 1-2.404 1.034c.128.716.128 1.45 0 2.166a6.3 6.3 0 0 0-1.182-.11c-4.184 0-3.968 2.823-6.736 2.823h-1.029c-1.899 0-3.15-1.357-3.15-3.095v-1.411c0-1.738 1.251-3.094 3.15-3.094h1.034c2.768 0 2.552 2.823 6.731 2.827"/>
          </svg>
        </a>
      </div>




    </Card>
    <Card colSpan="lg:col-span-3 md:col-span-1" rowSpan="md:row-span-1 lg:row-span-1" title="My time">
      <div class="flex h-full flex-col justify-center">
      <TimeZoneCard timezone={PROFILE.timezone} />
      </div>
    </Card>
    <Card colSpan="lg:col-span-3 md:col-span-1" rowSpan="md:row-span-1 lg:row-span-1"  title="Now">
      <div class="flex h-full flex-col justify-center">
          “{PROFILE.now[0]}”
        <p class="mt-2 text-xs"> <a href="https://nownownow.com/about" target="_blank" rel="noopener noreferrer" class="mt-2 text-xs text-blue-500 hover:underline">
          Learn more about "now"
        </a></p>
      </div>
    </Card>
    <Card colSpan="lg:col-span-3 md:col-span-1" rowSpan="md:row-span-1 lg:row-span-1" title="Daily Quote">
      <div class="flex h-full flex-col justify-center">
          <DailyQuote />
        <p class="mt-2 text-xs"></p>
      </div>
    </Card>
    <!--<Card colSpan="md:col-span-1 lg:col-span-5" rowSpan="md:row-span-2 lg:row-span-2"-->
    <!--      title="Education and Certificates">-->
    <!--  <StudyCard/>-->
    <!--</Card>-->

    <Card colSpan="md:col-span-1 lg:col-span-3" rowSpan="md:row-span-1 lg:row-span-1" title="Build Status">
      <div class="flex m-6 space-x-4 items-center">
        <a href="https://app.netlify.com/sites/tcheina/deploys">
          <img src="https://api.netlify.com/api/v1/badges/e2c0f959-367d-4271-b58e-a224de8daef2/deploy-status">
        </a>
      </div>
    </Card>
    <Card colSpan="md:col-span-1 lg:col-span-9" rowSpan="md:row-span-1 lg:row-span-1" title="Books I am reading">
        <Books/>
    </Card>
    <!--<Card colSpan="md:col-span-2 lg:col-span-12" rowSpan="md:row-span-1 lg:row-span-1" title="Contact">-->
    <!--  <div class="flex h-full w-full items-center justify-center text-center text-sm">-->
    <!--    <i>-->
    <!--      Please feel free to reach out to me through <a href={PROFILE.links.email} class="underline hover:font-bold">Email-->
    <!--      </a>, or <a href={PROFILE.links.linkedin} class="underline hover:font-bold">LinkedIn</a>.<br/>-->
    <!--      There is an option to calendly, but loosely gauges my schedule:-->
    <!--      <a href={PROFILE.links.calendly} class="underline hover:font-bold">Calendly</a>-->
    <!--    </i>-->
    <!--  </div>-->
    <!--</Card>-->

  <!--<Card colSpan="sm:col-span-1 md:col-span-1 lg:col-span-12" rowSpan="md:row-span-1 lg:row-span-1" title="Chatbot TC">-->
  <!--  <Chatbot client:load/>-->
  <!--</Card>-->
    <!--<ChatWidget/> -->
  </main>
</BaseLayout>

<!--<script>-->
<!--  // JS for animating the cards-->
<!--  import { stagger, spring, timeline, type TimelineDefinition } from 'motion'-->
<!--  import { loaderAnimation } from '../lib/constants'-->

<!--  const cards = document.querySelectorAll('.card-animate')-->

<!--  const sequence = [-->
<!--    loaderAnimation,-->
<!--    [-->
<!--      cards,-->
<!--      {y: ['40%', '0%'], opacity: [0, 1]},-->
<!--      {-->
<!--        at: '-0.1',-->
<!--        duration: 0.2,-->
<!--        delay: stagger(0.1),-->
<!--        easing: spring({velocity: 200, stiffness: 50, damping: 10}),-->
<!--      },-->
<!--    ],-->
<!--  ]-->

<!--  timeline(sequence as TimelineDefinition)-->
<!--</script>-->
