---
import BaseLayout from '../layouts/BaseLayout.astro'
import IntroCard from '../components/sections/IntroCard.astro'
import AboutMe from '../components/sections/AboutMe.astro'
import Card from '../components/Card.astro'
import TimeZoneCard from '../components/sections/TimeZoneCard.astro'
import Books from '../components/sections/Books.astro'
import ExperienceCard from '../components/sections/ExperienceCard.astro'
import Projects from '../components/sections/Projects.astro'
import { PROFILE } from "../content/profileData";
import BlogCard from '../components/sections/BlogCard.astro'
import Recipe from '../components/sections/Recipe.astro'
import DailyQuote from "../components/sections/DailyQuote.astro";
const SITE = PROFILE.site
---


<BaseLayout
  title={SITE.SEO.title}
  description={SITE.SEO.description}

>
  <div
    slot="loader"
    class="fixed top-0 right-0 bottom-0 left-0 z-50 flex h-screen w-screen items-center justify-center text-3xl font-black uppercase text-neutral-50 loader bg-darkslate-700"
  >
  </div>
  <main
    transition:animate="fade"
    class="relative m-auto grid w-full max-w-6xl gap-2 overflow-hidden p-2 sm:gap-2 sm:p-4 md:grid-cols-2 md:gap-3 md:p-6 lg:grid-cols-12 lg:gap-4"
  >
    <Card colSpan="lg:col-span-9 md:col-span-2" rowSpan="md:row-span-1 lg:row-span-2">
      <IntroCard/>
    </Card>
    <Card colSpan="lg:col-span-3 md:col-span-1" rowSpan="md:row-span-1 lg:row-span-2" title="About me">
      <AboutMe/>
    </Card>

    <Card colSpan="lg:col-span-4 md:col-span-1" rowSpan="md:row-span-1 lg:row-span-1" title="Projects">
      <Projects/>
    </Card>
    <Card colSpan="md:col-span-1 lg:col-span-5" rowSpan="md:row-span-1 lg:row-span-1" title="Blog Posts">
      <BlogCard/>
    </Card>
    <Card colSpan="md:col-span-1 lg:col-span-3" rowSpan="md:row-span-1 lg:row-span-1" title="Experiences">
      <ExperienceCard/>
    </Card>

    <Card colSpan="sm:col-span-1 md:col-span-2 lg:col-span-3" rowSpan="md:row-span-1 lg:row-span-2" title="Contact">
      <!--<Recipe/>-->
      <div class="flex h-full w-full items-center justify-center text-center text-lg">
        <i>
          Please feel free to <br/>reach out to me via <br/><a href={PROFILE.links.email} class="underline hover:font-bold">Email
        </a>, <br/>or <br/><a href={PROFILE.links.linkedin} class="underline hover:font-bold">LinkedIn</a>.<br/>
          <br/>

        </i>
      </div>
    </Card>
    <Card colSpan="lg:col-span-3 md:col-span-1" rowSpan="md:row-span-1 lg:row-span-1" title="My time">
      <TimeZoneCard timezone={PROFILE.timezone} />
    </Card>
    <Card colSpan="lg:col-span-3 md:col-span-1" rowSpan="md:row-span-1 lg:row-span-1"  title="Now">
      <div class="flex h-full flex-col justify-between">
        <p class="mt-2 text-xs"> <a href="https://nownownow.com/about" target="_blank" rel="noopener noreferrer" class="mt-2 text-xs text-blue-500 hover:underline">
          Learn more about "now"
        </a></p>
          “{PROFILE.now[0]}”
        <p class="mt-2 text-xs"></p>
      </div>
    </Card>
    <Card colSpan="lg:col-span-3 md:col-span-1" rowSpan="md:row-span-1 lg:row-span-1" title="Daily Quote">
      <div class="flex h-full flex-col justify-between">
        <blockquote class="mt-6 border-l-2 pl-6 italic">
          <DailyQuote />
        </blockquote>
        <p class="mt-2 text-xs"></p>
      </div>
    </Card>
    <!--<Card colSpan="md:col-span-1 lg:col-span-5" rowSpan="md:row-span-2 lg:row-span-2"-->
    <!--      title="Education and Certificates">-->
    <!--  <StudyCard/>-->
    <!--</Card>-->

    <Card colSpan="md:col-span-1 lg:col-span-9" rowSpan="md:row-span-1 lg:row-span-1" title="Books I am reading">
      <Books/>
    </Card>
    <!--<Card colSpan="md:col-span-2 lg:col-span-12" rowSpan="md:row-span-1 lg:row-span-1" title="Contact">-->
    <!--  <div class="flex h-full w-full items-center justify-center text-center text-sm">-->
    <!--    <i>-->
    <!--      Please feel free to reach out to me through <a href={PROFILE.links.email} class="underline hover:font-bold">Email-->
    <!--      </a>, or <a href={PROFILE.links.linkedin} class="underline hover:font-bold">LinkedIn</a>.<br/>-->
    <!--      There is an option to calendly, but loosely gauges my schedule:-->
    <!--      <a href={PROFILE.links.calendly} class="underline hover:font-bold">Calendly</a>-->
    <!--    </i>-->
    <!--  </div>-->
    <!--</Card>-->


  </main>
</BaseLayout>

<!--<script>-->
<!--  // JS for animating the cards-->
<!--  import { stagger, spring, timeline, type TimelineDefinition } from 'motion'-->
<!--  import { loaderAnimation } from '../lib/constants'-->

<!--  const cards = document.querySelectorAll('.card-animate')-->

<!--  const sequence = [-->
<!--    loaderAnimation,-->
<!--    [-->
<!--      cards,-->
<!--      {y: ['40%', '0%'], opacity: [0, 1]},-->
<!--      {-->
<!--        at: '-0.1',-->
<!--        duration: 0.2,-->
<!--        delay: stagger(0.1),-->
<!--        easing: spring({velocity: 200, stiffness: 50, damping: 10}),-->
<!--      },-->
<!--    ],-->
<!--  ]-->

<!--  timeline(sequence as TimelineDefinition)-->
<!--</script>-->
